.text{
    font-size: 30px;
}
canvas{
    margin-top: 20px;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px purple;}
    to{box-shadow: 1px 1px 38 pink;}
}